@tailwind base;
@tailwind components;
@tailwind utilities;


/* Homepage */
.homecontainer {
    padding-left: 70px;
    padding-right: 70px;
    background: #edf1f6;
}

.navbar {
    background: #f0f4fb;
    border: .5px solid white;
}


/* Header */
.header-item {
    display: flex;
    align-items: center;
    column-gap: 3px;
    cursor: pointer;
}

.header-item svg {
    font-size: 12px;
    margin-bottom: -3px;
}

.header-item h2 {

    color: #808080c4;
    font-weight: bold;
}

/* card styles */
.card-container {
    background: #f0f4fb;
    border: 1px solid white;
}

.cardcontent {
    padding-left: 10px;
    padding-right: 10px;
}

.rent-btn {
    background: #4999ec;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}